ion-card-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;

}

.no-resources {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.create-button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
