<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Password Reset</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="form">
            <ion-card-title>Enter the username you signed up with</ion-card-title>
            <ion-input placeholder="username" type="email" id="usernameInput"></ion-input>
            <ion-button type="submit" (click)="sendResetCode()">Send Reset Code</ion-button>
            <ion-button (click)="back()">Back to Login</ion-button>
          </form>
        </ion-card-content>
        <form [formGroup]="form" *ngIf="isUsernameValid">
          <ion-item lines="full">
            <ion-label position="floating">Verification Code</ion-label>
            <ion-input mode="md" required formControlName="verificationCode" id="verificationCodeInput" type="text" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">New Password</ion-label>
            <ion-input mode="md" type="password" required formControlName="newPassword" id="newPasswordInput" type="Password" required></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button type="button" (click)="updatePassword()" color="secondary" expand="block">Update Password</ion-button>
            </ion-col>
          </ion-row>

          <small>
            Enter the verification code sent to your email and your new password.
          </small>
        </form>
    </ion-card>
</ion-content>
