<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Wind River Provider Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-input placeholder="username" type="email" [(ngModel)]="username"></ion-input>
            <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
            <ion-button disabled="false" type="submit" (click)="login()">login</ion-button>
            <ion-button disabled="false">reset password</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
