<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wind River Provider Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="username" type="email"></ion-input>
      <ion-input placeholder="password" type="password"></ion-input>
      <ion-button [routerLink]="['/studies']" disabled="false" type="submit">login</ion-button>
      <ion-button [routerLink]="['/register']" disabled="false">register</ion-button>
      <ion-button disabled="false">reset password</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
