#survey-builder-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#survey-builder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

}

.test {
    border: 1px solid red;
}

.survey-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.survey-data-fields {
    width: 75%;
}

.schedule-selector {
    width: 20%;
    min-width: 150px;
}

.toolbar-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

#question-bank {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
}

.question-type-dropdown {
    padding-right: 0px;
}

.question-card {
    width: auto;
    float: right;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #f4f5f8;

    /* Set a different placeholder color */
    --placeholder-color: #f4f5f8;

    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }

.save-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.save-button {
    height: 100px;
    width: 100px;
}

.save-icon {
    height: 50%;
    width: 50%;
}

.slider-label-container {
    display: flex;
    flex-direction: row;
}

.slider-label {
    width: 50%;
}

.slider-options {
    border-color: gray;
    border-radius: 5px;
    color: #ffffff;
    width: 32%;
    height: 30px;
    margin-left: 30px;
}

.slider-options-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.toolbar-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1000px) {
    .toolbar-button {
        width: 90%;
    }
    .save-button {
        margin: 15px;
        height: 75px;
        width: 75px;
    }
}
