<ion-header>
  <ion-toolbar>
    <ion-title>Life Healing Administration</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/studies/surveys">Survey List</ion-button>
      <ion-button routerLink="/learning-resources/list">Learning Resource List</ion-button>
      <ion-button routerLink="/user-groups">User Groups</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Life Healing Administration</ion-title>
      <ion-buttons>
        <ion-button routerLink="/studies/surveys">Survey List</ion-button>
        <ion-button routerLink="/learning-resources/list">Learning Resource List</ion-button>
        <ion-button routerLink="/user-groups">User Groups</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-content>
