<ion-content>
    <div class="register-container">
        <ion-card class="register-module">
            <ion-card-header>
                <ion-card-title> Provider Registration Portal </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-input placeholder="email" type="email"></ion-input>
                <ion-input placeholder="password" type="password"></ion-input>
                <div class="button-container">
                    <ion-button
                        class="register-button"
                        [routerLink]="['/studies']"
                        disabled="false"
                        type="submit"
                    >
                        submit
                    </ion-button>
                    <ion-button
                        class="register-button"
                        [routerLink]="['/login']"
                        disabled="false"
                    >
                        return to login
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
