#question-types {
    width: 25%;
    height: 85vh;
    position: fixed;
    top: 9%;
    left: 0;
    bottom: 0;
}

.toolbar-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toolbar-button {
    width: 45%;
}

#question-bank {
    width: 100%;
}

.question-card {
    width: 72%;
    float: right;
}

#survey-builder-page {
    justify-content: space-between;
    flex-direction: row;
}

.save-button-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.save-button {
    margin: 20px;
    height: 100px;
    width: 100px;
}

.save-icon {
    height: 50%;
    width: 50%;
}