<ion-header>
  <ion-toolbar>
    <ion-title>Survey Builder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Survey Builder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="survey-builder-page">

      <ion-card id="question-types" slot="fixed">
        <ion-card class="toolbar-button-container">
          <ion-button class="toolbar-button" color="primary" (click)="addQuestion()">
            ADD
          </ion-button>
          <ion-button class="toolbar-button" color="danger">
            REMOVE
          </ion-button>
        </ion-card>
      </ion-card>

    <div id="question-bank">
      <ion-card *ngFor="let question of questions" class="question-card">
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-card-title text-wrap *ngIf="!question.isEditing">{{ inputValue }}</ion-card-title>
          <ion-input *ngIf="question.isEditing" [(ngModel)]="inputValue" placeholder="Enter Input"></ion-input>

          <ion-select *ngIf="question.isEditing" [(ngModel)]="place" (ionChange)="questionOptions()" okText="Okay" cancelText="Dismiss" placeholder="Question Type">
            <ion-select-option value="radio">Multiple Choice</ion-select-option>
            <ion-select-option value="slider">Value Slider</ion-select-option>
            <ion-select-option value="boolean">Yes or No</ion-select-option>
            <ion-select-option value="checkmark">Select All That Apply</ion-select-option>
          </ion-select>

            <ion-button *ngIf="!question.isEditing" (click)="toggleEdit(question)" slot="end" >Edit</ion-button>
            <ion-button *ngIf="question.isEditing" (click)="saveResponse(question)" slot="end" >Save</ion-button>
            <ion-button (click)="removeQuestion(question)" slot="end" color="danger">Delete</ion-button>
        </ion-item>

        <ion-card-content>
          <ion-item>
            <ion-label *ngIf="!question.isEditing">{{ answerValue }}</ion-label>
            <ion-input *ngIf="question.isEditing"[(ngModel)]="answerValue" placeholder="Enter Answers"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab center middle class="save-button-container" slot="fixed">
    <ion-fab-button class="save-button">
      <ion-icon class="save-icon" name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
