<ion-header>
  <ion-toolbar>
    <ion-title>Survey Builder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Survey Builder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="survey-builder-page">

      <ion-card id="question-types" slot="fixed">
        <ion-card class="toolbar-button-container">
          <ion-button class="toolbar-button" color="primary" (click)="addQuestion()">
            ADD
          </ion-button>
          <ion-button class="toolbar-button" color="danger">
            REMOVE
          </ion-button>
        </ion-card>
      </ion-card>

    <div id="question-bank">
      <ion-card class="question-card">
        <ion-card-header>
          <ion-card-title>Survey Title</ion-card-title>
          <ion-card-subtitle>Survey Description</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card *ngFor="let question of survey.questions" class="question-card">
        <ion-item>
          <h2 slot="start">Question {{survey.questions.indexOf(question) + 1}}</h2>
          <ion-card-title text-wrap *ngIf="!question.isEditing">{{ question.textHtml }}</ion-card-title>
          <ion-input *ngIf="question.isEditing" [(ngModel)]="question.textHtml" placeholder="Question Text"></ion-input>

          <ion-select (ngModelChange)="onTypeChange($event, question)" *ngIf="question.isEditing" [(ngModel)]="question.type" okText="Okay" cancelText="Dismiss" placeholder="Question Type">
            <ion-select-option value="RADIO">Multiple Choice</ion-select-option>
            <ion-select-option value="SLIDER">Value Slider</ion-select-option>
            <ion-select-option value="BOOLEAN">Yes or No</ion-select-option>
            <ion-select-option value="CHECK">Select All That Apply</ion-select-option>
          </ion-select>

            <ion-button *ngIf="!question.isEditing" (click)="toggleEdit(question)" slot="end" >Edit</ion-button>
            <ion-button *ngIf="question.isEditing" (click)="saveResponse(question)" slot="end" >Save</ion-button>
            <ion-button (click)="removeQuestion(question)" slot="end" color="danger">Delete</ion-button>
        </ion-item>

        <ion-card-content>
          <ng-container [ngSwitch]="question.type">

            <ion-segment *ngSwitchCase="'BOOLEAN'">
              <ion-segment-button [value]="false">
                <ion-label>No</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]="true">
                <ion-label>yes</ion-label>
              </ion-segment-button>
            </ion-segment>
  
            <div class="slider-container" *ngSwitchCase="'SLIDER'">
              <div *ngIf="question.isEditing" class="slider-options-container">
                <h3>Steps</h3>
                <select [(ngModel)]="question.max" class="slider-options" id="slider-steps">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6" selected>6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <ion-range
                [min]="question.min || 1"
                [max]="question.max || 6"
                [step]="question.step || 1"
                snaps
                pin
                class="slider"
              >
              </ion-range>
              <div class="slider-label-container">
                <ion-input class="slider-label" [disabled]="!question.isEditing" placeholder="Start Label" [(ngModel)]="question.startLabel" ></ion-input>
                <ion-input class="slider-label" [disabled]="!question.isEditing" placeholder="End Label" [(ngModel)]="question.endLabel" style="text-align: right;"></ion-input>
              </div>
            </div>
  
            <ion-list *ngSwitchCase="'RADIO'">
              <ion-radio-group>
                <ion-item *ngFor="let option of question.options">
                  <ion-radio [value]="option.value" slot="start"></ion-radio>
                  <ion-input [(ngModel)]="option.label" *ngIf="question.isEditing"></ion-input>
                  <ion-label *ngIf="!question.isEditing">{{option.label}}</ion-label>
                  <ion-button *ngIf="question.isEditing" (click)="removeOption(question, option)" slot="end" color="danger">Remove</ion-button>
                </ion-item>
              </ion-radio-group>
              <ion-button *ngIf="question.isEditing" (click)="addOption(question)" slot="end" >Add Option</ion-button>
            </ion-list>
  
            <ion-list *ngSwitchCase="'CHECK'">
              <ion-item *ngFor="let option of question.options">
                <ion-checkbox [value]="option.value" slot="start"></ion-checkbox>
                <ion-input [(ngModel)]="option.label" *ngIf="question.isEditing"></ion-input>
                <ion-label *ngIf="!question.isEditing">{{option.label}}</ion-label>
                <ion-button *ngIf="question.isEditing" (click)="removeOption(question, option)" slot="end" color="danger">Remove</ion-button>
              </ion-item>
              <ion-button *ngIf="question.isEditing" (click)="addOption(question)" slot="end" >Add Option</ion-button>
            </ion-list>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab center middle class="save-button-container" slot="fixed">
    <ion-fab-button (click)="saveSurvey()" class="save-button">
      <ion-icon class="save-icon" name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
